.container-fluid{
    background-color: rgb(222, 220, 220);
}
.block{
    padding: 20px;
}

.content{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(239, 243, 246);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h3, p{
    font-size: 1em;
    margin-bottom: 0;
}

.content-title{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.content-title-title{
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
    padding-left: 10px;
}

.content-title-title p{
    font-weight: 500;
    color: rgb(151, 150, 150);
}

.rating .fa-solid, .rating .fas{
    color: rgb(41, 114, 41);
    font-size: small;
}

.content-description{
    /*nustatau auksti, nes plancetes ekrane
    kai kuriuose blokuose gaunasi ne 2, o 3 eilutes
    o gal geriau kontent auksti nustatyti?*/
    height: 84px;
    padding: 15px 0;
}

.content-description p{
    font-weight: 700;
}

.content-statistics{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding-top: 10px;
}

.content-statistics .fa-solid, .content-statistics .fas{
    font-size: xx-small;
}


